@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: #06170e;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: "Poppins", serif;
}
nav ul{
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: #000000;
    color: aliceblue;
    align-items: center;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.bottom{
    position: sticky;
    background-color: #000000;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
.cointainer{
    min-height: 72vh;
    color: aliceblue;
    display: flex;
    background-color: #000000;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url("bg.jpg");
background-size: cover;
background-position: center;
}
h1{
    color: aliceblue;
    font-family: "Kanit", serif;
}
#myprogressbar{
    width: 80vw;
    cursor: pointer;
}
.icons{
    margin-top: 15px;
    font-size: 4vh;
}
.icons i{
    cursor: pointer;
}
.songitem{
    display: flex;
    
    background-color: #06170e;
    color: aliceblue;
    height: 50px;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 23px;
}
#img1{
    width: 46px;
    margin: 0 23px;
    border-radius: 35px;
}
.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}
.songitemcointainer{
margin-top: 72px;
}
.songinfo{
    position:absolute;
    left:10vw;
}
.songinfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}